h1 {
    transition: background-color 0.3s ease;
}

h1:hover {
    color: blue;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(239, 166, 39);
}

.numbers {
    margin-top: 20px;
    font-size: 20px;
}

.result {
    margin-top: 20px;
    font-size: 24px;
}

.comments {
    margin-top: 20px;
}

.generated {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 20px;
    background-color: rgb(239, 166, 39);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generated:hover {
    background-color: red;
}